.popover {
    position: fixed;
    background-color: #8e8e8e;
    width: 250px;
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.close-btn {
    position: absolute;
    top: 4px;
    right: 0;
    height: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.close-btn:hover>svg {
    fill: darkred;
}